
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 56px 0 0;
  z-index: 1;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
