@import "styles/utils";

.heroSection {
  position: relative;
  height: 600px;
  background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
  border-radius: 0px 0px 0px 100px;
  background-blend-mode: screen;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/img/bg-pattern-intro-mobile.svg") no-repeat -330px -250px;
    content: "";

    @include media(">desktop") {
      background: url("/img/bg-pattern-intro-desktop.svg") no-repeat -450px -1400px;
    }
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 196px;

    @include media(">desktop") {
      padding-top: 226px;
    }
  }

  .title {
    font-weight: 600;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -1.08px;
    color: #FFFFFF;
    padding: 0 8px;

    @include media(">desktop") {
      font-size: 64px;
      line-height: 98px;
      letter-spacing: -1.92px;
    }
  }

  .description {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 38px;

    @include media(">desktop") {
      font-size: 20px;
      line-height: 31px;
      margin-bottom: 43px;
    }
  }

  .buttonContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}
