@import "styles/utils";

.button {
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  border-radius: 28px;
  border: none;
  padding: 15px 16px;
  cursor: pointer;

  &.primary {
    color: #FF505C;
    background: #FFFFFF;

    @include media(">desktop") {
      transition: color 0.3s, background 0.3s;

      &:hover {
        color: #FFFFFF;
        background: #FF7B86;
      }
    }
  }

  &.secondary {
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;

    @include media(">desktop") {
      transition: color 0.3s, background 0.3s;

      &:hover {
        color: #FF7B86;
        background: #FFFFFF;
      }
    }
  }
}
