@import "styles/utils";

.introSection {
  position: relative;
  text-align: center;

  @include media(">desktop") {
    padding-bottom: 205px;
  }

  .title {
    font-weight: 600;
    font-size: 28px;
    line-height: 43px;
    letter-spacing: -0.84px;
    color: #1F3E5A;
    margin-bottom: 38px;

    @include media(">desktop") {
      font-size: 40px;
      line-height: 61px;
      letter-spacing: -1.2px;
      margin-bottom: 93px;
    }
  }

  .container {
    position: relative;

    @include media(">desktop") {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  .imageWrapper {
    @include media(">desktop") {
      max-width: 885px;
      width: 885px;
    }
  }

  .image {
    width: 100%;
    max-width: 326px;
    margin-bottom: 46px;

    @include media(">desktop") {
      position: absolute;
      top: 50%;
      right: -425px;
      max-width: 885px;
      width: 885px;
      margin-bottom: 0;

      transform: translateY(-52%);
    }
  }

  .featureContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 40px;
    text-align: center;
    padding: 8px;

    @include media(">desktop") {
      text-align: left;
      max-width: 540px;
      grid-gap: 64px;
    }
  }

  .imageContainer {
    position: relative;
  }
}
