@import "styles/utils";

.footer {
  text-align: center;
  background: #24242C;
  border-radius: 0px 100px 0px 0px;
  padding: 75px 0;

  @include media(">desktop") {
    text-align: left;
    padding: 70px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 72px;

    @include media(">desktop") {
      flex-direction: row;
      align-items: flex-start;
      grid-gap: 184px;
    }
  }

  .logo {
    img {
      width: 101px;
    }
  }

  .sitemapContainer {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;

    @include media(">desktop") {
      width: 100%;
      flex-direction: row;

      li {
        flex: 1;
      }
    }
  }

  .title {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    color: #FFFFFF;

    @include media(">desktop") {
      font-size: 15px;
      line-height: 33px;
    }
  }

  .linkContainer {
    font-family: 'Ubuntu';
    font-size: 18px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 21px;

    @include media(">desktop") {
      font-size: 15px;
      line-height: 33px;
    }

    a {
      @include media(">desktop") {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
