@import "styles/utils";

.main {
  .heroSection {
    margin-bottom: 100px;

    @include media(">desktop") {
      margin-bottom: 150px;
    }
  }

  .introSection {
    margin-bottom: 100px;

    @include media(">desktop") {
      margin-bottom: 57px;
    }
  }

  .bannerSection {
    margin-bottom: 79px;

    @include media(">desktop") {
      margin-bottom: 116px;
    }
  }

  .featureSection {
    margin-bottom: 100px;

    @include media(">desktop") {
      margin-bottom: 123px;
    }
  }
}
